extends layout

block content
  .iframe-container
      iframe(src=spaUrl title="Partner Portal")
      
  form.navbar-form.navbar-left(method="get", action="/portal")
        button#logout-button.btn-n.btn-primary-n(type="submit") Back to Portal