extends layout

block content-index

  
  if authenticated
    div.hero
      h2= "Welcome back, Nissan Dealerships!"
      p Visit the #[a(href="/portal") My Portal] page to view all of your applications.
      img(src="https://cdn.foxdealer.com/cdn-cgi/image/width=800,fit=contain,quality=85,format=auto/https://static.foxdealer.com/1061/2024/06/subhero-financing-2.jpg" style="display: block; margin: auto; border-radius: 1rem;")
    br
    div

  else
    div.hero
      h3= "The World's Most Experienced Driver"
      p We’re on a mission to be the world's most trusted driver. Making it safer, more accessible, and more sustainable to get around — without the need for anyone in the driver’s seat. 
      img(src="https://images.ctfassets.net/e6t5diu0txbw/3CMpQMnWZRkEKCabtWRnUa/604ba0f4d0ab5816933c3351f46c201e/image.png?fm=webp&q=90" style="display: block; margin: auto; border-radius: 1rem;")

      
        
